<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}{% if page.title %}: {{page.title}}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{site.baseurl | prepend:site.url}}/js/jquery.min.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/header.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/toc.js"></script>
  <link href="{{site.baseurl | prepend:site.url}}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/theme.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/syntax.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
